<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
    <body>
        <header>
            <img src="scr/logo.svg" alt="logo.svg">
            <nav>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="fill_news--text--news">
                <div class="divBlock divBlock--text">
                    <span class="divBlock-name">
                        Названия новости
                    </span>
                    <span class="divBlock-discription">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sit aperiam suscipit, voluptates quo dicta error laborum magnam recusandae.
                    </span>
                    <span class="divBlock-date">
                        12 января 2020 года
                    </span>
                </div>
                <div class="divBlock divBlock--text">
                    <span class="divBlock-name">
                        Названия новости
                    </span>
                    <span class="divBlock-discription">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sit aperiam suscipit, voluptates quo dicta error laborum magnam recusandae.
                    </span>
                    <span class="divBlock-date">
                        12 января 2020 года
                    </span>
                </div>
                <div class="divBlock divBlock--text">
                    <span class="divBlock-name">
                        Названия новости
                    </span>
                    <span class="divBlock-discription">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sit aperiam suscipit, voluptates quo dicta error laborum magnam recusandae.
                    </span>
                    <span class="divBlock-date">
                        12 января 2020 года
                    </span>
                </div>
                <div class="divBlock divBlock--text">
                    <span class="divBlock-name">
                        Названия новости
                    </span>
                    <span class="divBlock-discription">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sit aperiam suscipit, voluptates quo dicta error laborum magnam recusandae.
                    </span>
                    <span class="divBlock-date">
                        12 января 2020 года
                    </span>
                </div>
            </div>

            <div class="fill_news--page-switch">
                <div class="fill_news--page-switch-item"><span><</span></div>
                <div class="fill_news--page-switch-item"><span>1</span></div>
                <div class="fill_news--page-switch-item active"><span>2</span></div>
                <div class="fill_news--page-switch-item"><span>3</span></div>
                <div class="fill_news--page-switch-item"><span>></span></div>
            </div>
        </main>
    </body>
</html>